@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-left: 164px;
    padding-right: 164px;
}

.num-output {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.output-error42 {
    color: #D9534F;
    font-size: 16px;
    font-weight: 400;
    size: 16px;
}

.checkbox-container {
    display: flex;
    gap: 5px;
}

option {
    background-color: aliceblue;
    color: black;
}